*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    color: #fff;
}
header{
    padding: 4rem;
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2rem;
}
main div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #fff 2px solid;
    padding: 2rem;
}
